{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Single Page Content -->
        <div class="single-page-content">
          <div class="content-area">
            <div class="page-content">
              <!-- Blog Entry Content -->
              <div class="blog-post-main-image">
                <img class="post-image img-responsive" src="images/blog/blog_post_2_full.jpg" alt="blog-post-1" />
              </div>

              <div class="blog-post-content">
                <h1>{{ post.title }}</h1>

                <div class="entry-meta">
                  <span class="date"><a href="#"><i class="fa fa-fw fa-clock-o"></i>{{ post.created_on }}</a></span>
                  <span class="divider">|</span>
                  <span class="autor"><a href="#"><i class="fa fa-fw fa-user"></i>Hamed Mirzaei</a></span>
                  <span class="divider">|</span>
                  <span class="category"><a href="#"><i class="fa fa-fw fa-folder"></i>{{ post.category.name }}</a></span>
                </div>
                  <p>{{ post.body }}</p>


                <div class="entry-meta entry-tags-share">
                  <!-- Share Buttons -->
                  <div class="btn-group share-buttons pull-right hidden-xs">
                    <a href="#" target="_blank" class="btn"><i class="fa fa-facebook"></i> </a>
                    <a href="#" target="_blank" class="btn"><i class="fa fa-twitter"></i> </a>
                    <a href="#" target="_blank" class="btn"><i class="fa fa-dribbble"></i> </a>
                  </div>
                  <!-- /Share Buttons -->
                  <ul class="tags">
                    <li><a>HTML5</a></li>
                    <li><a>CSS3</a></li>
                    <li><a>jQuery</a></li>
                    <li><a>Ajax</a></li>
                    <li><a>PHP5</a></li>
                  </ul>
                </div>

                <div class="post-comments">
                  <div class="block-title">
                    <h3>{{ post.comments.count }}</h3>
                  </div>

                  <div class="media">

                      <div class="media-body">
                          {% for comment in post.comments.all %}
                          <div class="media-heading">
                              <a href="#">{{ comment.name }}</a> <span class="divider">|</span> <span class="light-gray">1 hour ago</span>
                          </div>
                          <p>{{ comment.body }}</p>
                          <div class="media-footer">
                              <a href="#"><i class="fa fa-reply"></i> Reply</a>
                          </div>
                          {% endfor %}


<!--                          <div class="media">-->
<!--                              <a class="pull-left" href="#">-->
<!--                                  <img class="media-object" src="images/blog/comments/comment_photo_1.jpg" alt="">-->
<!--                              </a>-->
<!--                              <div class="media-body">-->
<!--                                  <div class="media-heading">-->
<!--                                      <a href="#">John Doe</a> <span class="divider">|</span> <span class="light-gray">12 hours ago</span>-->
<!--                                  </div>-->
<!--                                  <p>Nulla tincidunt augue lacinia purus scelerisque fringilla. Donec venenatis volutpat lacus, ac efficitur ligula imperdiet id. Nunc gravida ullamcorper metus, ut gravida velit condimentum vel.</p>-->
<!--                                  <div class="media-footer">-->
<!--                                      <a href="#"><i class="fa fa-reply"></i> Reply</a>-->
<!--                                  </div>-->
<!--                              </div>-->
<!--                          </div>-->

                      </div>
                  </div>
                </div>

                <div class="post-comment-add">
                    <div class="block-title">
                      <h3>Leave a Comment</h3>
                    </div>

                    <form class="form-add-comment" action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="button" type="submit">Add comment</button>
                    </form>
<!--                    <form class="form-add-comment">-->
<!--                        <div class="form-group form-group-with-icon">-->
<!--                          <i class="fa fa-user"></i>-->
<!--                          <label>Your Name</label>-->
<!--                          <input class="form-control" placeholder="" name="name">-->
<!--                          <div class="form-control-border"></div>-->
<!--                        </div>-->
<!--                        <div class="form-group form-group-with-icon">-->
<!--                          <i class="fa fa-comment"></i>-->
<!--                          <label>Message</label>-->
<!--                          <textarea class="form-control" placeholder="" name="message"></textarea>-->
<!--                          <div class="form-control-border"></div>-->
<!--                        </div>-->
<!--                        <button class="button" type="submit">Add comment</button>-->
<!--                    </form>-->
                </div>

              </div>
              <!-- End of Blog Entry Content -->
            </div>
          </div>
        </div>
        <!-- End of Single Page Content -->
      </div>
{% endblock %}