{% extends 'base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
      </div>
    {% endfor %}
  {% endif %}
  <div class="section-inner custom-page-content">
    <div class="page-header color-1">
      <h2>Contact</h2>
    </div>
    <div class="page-content">
       <div class="row">
         <div class="col-sm-6 col-md-6">
           <div class="block-title">
             <h3>Get in <span>Touch</span></h3>
           </div>
           <!-- Google Map -->
           <div id="map" class="map"></div>
           <!-- End of Google Map -->

           <div class="contact-info-block">
             <div class="ci-icon">
               <i class="fa fa-map-marker"></i>
             </div>
             <div class="ci-text">
               <h5>Kermanshah, IRAN</h5>
             </div>
           </div>
           <div class="contact-info-block">
             <div class="ci-icon">
               <i class="fa fa-envelope"></i>
             </div>
             <div class="ci-text">
               <h5>HamedMirzaei2001Official@gmail.com</h5>
             </div>
           </div>
           <div class="contact-info-block">
             <div class="ci-icon">
               <i class="fa fa-phone"></i>
             </div>
             <div class="ci-text">
               <h5>09334519059</h5>
             </div>
           </div>
           <div class="contact-info-block">
             <div class="ci-icon">
               <i class="fa fa-check"></i>
             </div>
             <div class="ci-text">
               <h5>Freelance Available</h5>
             </div>
           </div>
         </div>

         <div class="col-sm-6 col-md-6">
           <div class="block-title">
             <h3>Contact <span>Form</span></h3>
           </div>


            <form method="post">{% csrf_token %}
              {{ form.as_p }}
              <input type="submit" class="button btn-send" value="Send message">
            </form>
         </div>
       </div>
    </div>
  </div>
{% endblock %}