{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}


{% block content %}

            <!-- Home Subpage -->

              <div class="section-inner start-page-content">
                <div class="page-header">
                  <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                      <div class="photo">
                        <img src="{% static 'images/me.jpg' %}" alt="">
                      </div>
                    </div>

                    <div class="col-sm-8 col-md-8 col-lg-8">
                      <div class="title-block">
                        <h1>Hamed Mirzaei</h1>
                        <div class="owl-carousel text-rotation">
                          <div class="item">
                            <div class="sp-subtitle">Python Django Developer</div>
                          </div>
                          <div class="item">
                            <div class="sp-subtitle">Python Developer</div>
                          </div>
                        </div>
                      </div>

                      <div class="social-links">
                        <a href="https://t.me/HamedMirzaei_Official"><i class="fa fa-telegram" aria-hidden="true"></i></a>
                        <a href="https://www.instagram.com/hamedmirzaeiofficial/"><i class="fa fa-instagram"></i></a>
                        <a href="https://wa.me/989334519059"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="page-content">
                  <div class="row">

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="about-me">
                        <div class="block-title">
                          <h3>About <span>Me</span></h3>
                        </div>
                        <p>Hello! I’m <span style="font-size: 17px; color: #2196F3">Hamed Mirzaei</span>. a computer engineering student who loves <br>Python and the Django framework. I hope you like my personal website and its content.</p>
                      </div>

                    </div>

                    <div class="col-sm-6 col-md-6 col-lg-6">
                      <ul class="info-list">
                        <li><span class="title">Age</span><span class="value">21</span></li>
                        <li><span class="title">Residence</span><span class="value">IRAN</span></li>
                        <li><span class="title">Address</span><span class="value">Kermanshah, Iran</span></li>
                        <li><span class="title">e-mail</span><span class="value"><a href="mailto:email@example.com">hamedmirzaei2001official@gmail.com</a></span></li>
                        <li><span class="title">Phone</span><span class="value">09334519059</span></li>
                        <li><span class="title">Freelance</span><span class="value available">Available</span></li>
                      </ul>
                    </div>

                  </div>
                </div>
              </div>


{% endblock %}
