{% extends 'base.html' %}
{% block title %}Resume{% endblock %}

{% block content %}
  <div class="section-inner custom-page-content">
    <div class="page-header color-1">
      <h2>Resume</h2>
    </div>
    <div class="page-content">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Education</h3>
            </div>
            <div class="timeline">
              <!-- Education 1 -->
              <div class="timeline-item">
                <h4 class="item-title">Undergraduate course in computer engineering</h4>
                <span class="item-period">October 2020 - Current</span>
                <span class="item-small">SJAU</span>
                <p class="item-description">Seyed Jamaluddin Asadabadi University of Hamadan - Government course</p>
              </div>
              <!-- / Education 1 -->
              <!-- Education 2 -->
              <div class="timeline-item">
                <h4 class="item-title">Book - Django 3 by Example</h4>
                <span class="item-period">December 2022 - February 2022</span>
                <span class="item-small">Packt</span>
                <p class="item-description">Build powerful and readable python web applications from scratch. wrote by Antonio Mele.</p>
              </div>
              <!-- / Education 2 -->
              <!-- Education 3 -->
              <div class="timeline-item">
                <h4 class="item-title">Book - Web Development With Django</h4>
                <span class="item-period">February 2022 - March 2022</span>
                <span class="item-small">Packt</span>
                <p class="item-description">Learn to build modern web applications with a Python-based framework. wrote by Ben Shaw, Saurabh Badhwar, Andrew Bird ...</p>
              </div>
              <!-- / Education 3 -->
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Experience</h3>
            </div>

            <div class="timeline">
              <!-- Experience 1 -->
              <div class="timeline-item">
                <h4 class="item-title">Freelancer - C++</h4>
                <span class="item-period">May 2021 - Current</span>
                <span class="item-small">Students</span>
                <p class="item-description">Writing exercises and projects of different universities</p>
              </div>
              <!-- / Experience 1 -->

              <!-- Experience 2 -->
              <div class="timeline-item">
                <h4 class="item-title">Freelancer - Python</h4>
                <span class="item-period">September 2021 - Current</span>
                <span class="item-small">Students</span>
                <p class="item-description">Writing exercises and projects of different universities.</p>
              </div>
              <!-- / Experience 2 -->

              <!-- Experience 3 -->
              <div class="timeline-item">
                <h4 class="item-title">Freelancer - HTML5, CSS3</h4>
                <span class="item-period">December 2022 - Current</span>
                <span class="item-small">Students</span>
                <p class="item-description">Writing exercises and projects of different universities.</p>
              </div>
              <!-- / Experience 3 -->

               <div class="timeline-item">
                <h4 class="item-title">Freelancer - C</h4>
                <span class="item-period">January 2021 - Current</span>
                <span class="item-small">Students</span>
                <p class="item-description">Writing exercises and projects of different universities.</p>
              </div>



            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Programming <span>Skills</span></h3>
            </div>
             <div class="skills-info">
               <h4>Django</h4>
               <div class="skill-container">
                 <div class="skill-percentage skill-7"></div>
               </div>

               <h4>Python</h4>
               <div class="skill-container">
                 <div class="skill-percentage skill-8"></div>
               </div>

                <h4>C</h4>
               <div class="skill-container">
                 <div class="skill-percentage skill-7"></div>
               </div>

               <h4>C++</h4>
               <div class="skill-container">
                 <div class="skill-percentage skill-8"></div>
               </div>
             </div>

          </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="block">
            <div class="block-title">
              <h3>Web Design <span>Skills</span></h3>
            </div>
            <div class="skills-info">
              <h4>HTML5</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-8"></div>
              </div>

              <h4>CSS3</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-6"></div>
              </div>

              <h4>jQuery</h4>
              <div class="skill-container">
                <div class="skill-percentage skill-1"></div>
              </div>
            </div>

          </div>
        </div>
      </div>

<!--                  &lt;!&ndash; Download Resume Button &ndash;&gt;-->
<!--                  <div class="row">-->
<!--                    <div class="col-sm-12 col-md-12 col-lg-12">-->
<!--                      <div class="block">-->
<!--                        <div class="center download-resume">-->
<!--                          <a href="#" class="btn btn-secondary">Download Resume</a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  &lt;!&ndash; End of Download Resume Button &ndash;&gt;-->

    </div>
  </div>
{% endblock %}