{% extends 'base.html' %}
{% block title %}Services{% endblock %}

{% block content %}

<div class="section-inner custom-page-content">
                <div class="page-header color-1">
                  <h2>Services</h2>
                </div>
                <div class="page-content">
                  <!-- My Services -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="block-title">
                        <h3>My <span>Services</span></h3>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                      <div class="service-block">
                        <div class="service-info">
                          <div class="service-image">
                            <img src="images/service/web_design_icon.png" alt="Responsive Design" class="mCS_img_loaded">
                          </div>
                          <h4>Web Design</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                      <div class="service-block">
                        <div class="service-info">
                          <div class="service-image">
                            <img src="images/service/photography_icon.png" alt="Photography" class="mCS_img_loaded">
                          </div>
                          <h4>Photography</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                      <div class="service-block">
                        <div class="service-info">
                          <div class="service-image">
                            <img src="images/service/creativity_icon.png" alt="Creativity" class="mCS_img_loaded">
                          </div>
                          <h4>Management</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-sm-6 col-md-3">
                      <div class="service-block">
                        <div class="service-info">
                          <div class="service-image">
                            <img src="images/service/advetising_icon.png" alt="Advetising" class="mCS_img_loaded">
                          </div>
                          <h4>Advetising</h4>
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of My Services -->

                  <!-- Clients -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="block-title">
                        <h3>Clients</h3>
                      </div>

                      <div class="col-sm-4 col-md-2 subpage-block">
                        <div class="client-block">
                          <a href="#" target="_blank"><img src="images/clients/client_1.png" alt="image" class="mCS_img_loaded"></a>
                        </div>
                      </div>

                      <div class="col-sm-4 col-md-2 subpage-block">
                        <div class="client-block">
                          <a href="#" target="_blank"><img src="images/clients/client_2.png" alt="image" class="mCS_img_loaded"></a>
                        </div>
                      </div>

                      <div class="col-sm-4 col-md-2 subpage-block">
                        <div class="client-block">
                          <a href="#" target="_blank"><img src="images/clients/client_3.png" alt="image" class="mCS_img_loaded"></a>
                        </div>
                      </div>

                      <div class="col-sm-4 col-md-2 subpage-block">
                        <div class="client-block">
                          <a href="#" target="_blank"><img src="images/clients/client_4.png" alt="image" class="mCS_img_loaded"></a>
                        </div>
                      </div>

                      <div class="col-sm-4 col-md-2 subpage-block">
                        <div class="client-block">
                          <a href="#" target="_blank"><img src="images/clients/client_5.png" alt="image" class="mCS_img_loaded"></a>
                        </div>
                      </div>

                      <div class="col-sm-4 col-md-2 subpage-block">
                        <div class="client-block">
                          <a href="#" target="_blank"><img src="images/clients/client_6.png" alt="image" class="mCS_img_loaded"></a>
                        </div>
                      </div>

                    </div>
                  </div>
                  <!-- End of Clients -->

                  <!-- Testimonials -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="block-title">
                        <h3>Testimonials</h3>
                      </div>


                      <div class="testimonials owl-carousel block">
                        <!-- Testimonial 1 -->
                        <div class="testimonial-item">
                          <!-- Testimonial Author -->
                          <div class="testimonial-credits">
                            <!-- Picture -->
                            <div class="testimonial-picture">
                              <img src="images/testimonials/testimonial_photo_1.jpg" alt="">
                            </div>
                            <!-- /Picture -->
                            <!-- Testimonial author information -->
                            <div class="testimonial-author-info">
                              <p class="testimonial-author">Maria Richardson</p>
                              <p class="testimonial-firm">Lindsley's Lumber</p>
                            </div>
                          </div>
                          <!-- /Testimonial author information -->
                          <!-- Testimonial Content -->
                          <div class="testimonial-content">
                            <div class="testimonial-text">
                              <p>"Phasellus eu nunc tincidunt, ultricies elit vitae, pretium eros. Sed sed ipsum sed massa."</p>
                            </div>
                          </div>
                          <!-- /Testimonial Content -->
                        </div>
                        <!-- End of Testimonial 1 -->

                        <!-- Testimonial 2 -->
                        <div class="testimonial-item">
                          <!-- Testimonial Author -->
                          <div class="testimonial-credits">
                            <!-- Picture -->
                            <div class="testimonial-picture">
                              <img src="images/testimonials/testimonial_photo_2.jpg" alt="">
                            </div>
                            <!-- /Picture -->
                            <!-- Testimonial author information -->
                            <div class="testimonial-author-info">
                              <p class="testimonial-author">John Doe</p>
                              <p class="testimonial-firm">Apple Inc.</p>
                            </div>
                          </div>
                          <!-- /Testimonial author information -->
                          <!-- Testimonial Content -->
                          <div class="testimonial-content">
                            <div class="testimonial-text">
                              <p>"Vivamus porta dapibus tristique. Suspendisse et arcu eget nisi convallis eleifend nec ac lorem.</p>
                            </div>
                          </div>
                          <!-- /Testimonial Content -->
                        </div>
                        <!-- End of Testimonial 2 -->

                        <!-- Testimonial 3 -->
                        <div class="testimonial-item">
                          <!-- Testimonial Author -->
                          <div class="testimonial-credits">
                            <!-- Picture -->
                            <div class="testimonial-picture">
                              <img src="images/testimonials/testimonial_photo_3.jpg" alt="">
                            </div>
                            <!-- /Picture -->
                            <!-- Testimonial author information -->
                            <div class="testimonial-author-info">
                              <p class="testimonial-author">George McQueen</p>
                              <p class="testimonial-firm">Harmony House</p>
                            </div>
                          </div>
                          <!-- /Testimonial author information -->
                          <!-- Testimonial Content -->
                          <div class="testimonial-content">
                            <div class="testimonial-text">
                              <p>"Aliquam congue auctor lectus sed fermentum. Nulla ultricies tellus quis sapien lacinia egestas."</p>
                            </div>
                          </div>
                          <!-- /Testimonial Content -->
                        </div>
                        <!-- End of Testimonial 3 -->
                      </div>
                    </div>
                  </div>
                  <!-- End of Tesimonials -->

                  <!-- Pricing -->
                  <div class="row">
                    <div class="col-sm-12 col-md-12">
                      <div class="block-title">
                        <h3>Pricing</h3>
                      </div>

                      <div class="lm-pricing row clearfix">
                        <div class="lm-package-wrap col-md-4 default-col">
                          <div class="lm-package">
                            <div class="lm-heading-row">
                              <span>Plan 1</span>
                            </div>
                            <div class="lm-pricing-row">
                              <span>$64</span>
                              <small>per month</small>
                            </div>

                            <div class="lm-button-row">
                              <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                            </div>
                            <div class="lm-default-row">
                              Lorem ipsum dolor
                            </div>
                            <div class="lm-default-row">
                              Pellentesque scelerisque
                            </div>
                            <div class="lm-default-row">
                              Morbi eu sagittis
                            </div>
                            <div class="lm-default-row">
                            </div>
                          </div>
                        </div>

                        <div class="lm-package-wrap col-md-4 highlight-col ">
                          <div class="lm-package">
                            <div class="lm-heading-row">
                              <span>Plan 2</span>
                            </div>
                            <div class="lm-pricing-row">
                              <span>$128</span>
                              <small>per month</small>
                            </div>

                            <div class="lm-button-row">
                              <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                            </div>
                            <div class="lm-default-row">
                              Lorem ipsum dolor
                            </div>
                            <div class="lm-default-row">
                              Pellentesque scelerisque
                            </div>
                            <div class="lm-default-row">
                              Morbi eu sagittis
                            </div>
                            <div class="lm-default-row">
                              Donec non diam
                            </div>
                            <div class="lm-default-row">
                            </div>
                          </div>
                        </div>

                        <div class="lm-package-wrap col-md-4 default-col ">
                          <div class="lm-package">
                            <div class="lm-heading-row">
                              <span>Plan 3</span>
                            </div>

                            <div class="lm-pricing-row">
                              <span>$256</span>
                              <small>per month</small>
                            </div>

                            <div class="lm-button-row">
                              <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                            </div>

                            <div class="lm-default-row">
                              Lorem ipsum dolor
                            </div>
                            <div class="lm-default-row">
                              Pellentesque scelerisque
                            </div>
                            <div class="lm-default-row">
                              Morbi eu sagittis
                            </div>
                            <div class="lm-default-row">
                              Donec non diam
                            </div>
                            <div class="lm-default-row">
                              Aenean nec libero
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- End of Pricing -->
                </div>
              </div>
{% endblock %}